<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="script/element-ui/index.css">
    <link rel="stylesheet" href="style/layout.css">
    <script src="script/vue.js"></script>
    <script src="script/element-ui/index.js"></script>
    <script src="script/config.js"></script>
</head>

<body>
    <div id="app">
        <template>
            <el-container>
                <el-header class="header">
                    <h3>admin-demo</h3>
                    <div class="operate">
                        <span>admin</span>,
                        <a href="javascript:void(0)">退出系统</a>
                    </div>
                </el-header>
                <el-container style="padding-top:60px;">
                    <el-aside width="200px" style="background-color:#343f55;">
                        <el-menu :default-active="activePage" background-color="#343f55" text-color="#fff" style="border-right:none;">
                            <template v-for="(item,index) in menuInfo">
                                <template v-if="item.children == null || item.children.length == 0">
                                    <el-menu-item :index="item.name" @click="clickMenu(item)">
                                        <i :class="item.icon"></i>
                                        <span slot="title" v-text="item.name"></span>
                                    </el-menu-item>
                                </template>
                                <template v-else>
                                    <el-submenu :index="item.name">
                                        <template slot="title">
                                            <i :class="item.icon"></i>
                                            <span v-text="item.name"></span>
                                        </template>
                                        <el-menu-item :index="chil.name" @click="clickMenu(chil)" :key="index" v-for="(chil,index) in item.children">
                                            <i :class="chil.icon"></i>
                                            <span v-text="chil.name"></span>
                                        </el-menu-item>
                                    </el-submenu>
                                </template>
                            </template>
                        </el-menu>
                    </el-aside>
                    <el-main style="padding:5px;">
                        <el-tabs v-if="tabsInfo.length>0" v-model="activePage" type="card" closable @tab-remove="removeTab" style="height: 100%;">
                            <el-tab-pane :key="item.name" v-for="(item, index) in tabsInfo" :label="item.name" :name="item.name" style="height: calc(100% - 56px);">
                                <iframe :src="item.url" style="width: 100%; height: 100%;" frameborder="0"></iframe>
                            </el-tab-pane>
                        </el-tabs>
                        <div v-if="tabsInfo.length==0">
                            <h1>欢迎使用！</h1>
                        </div>
                    </el-main>
                </el-container>
            </el-container>
        </template>
    </div>
</body>

<script>
    new Vue({
        data: function () {
            return {
                activePage: "",
                menuInfo: Config.menuInfo,
                tabsInfo: []
            };
        },
        methods: {
            clickMenu: function (item) {
                var temp = {
                    name: item.name,
                    url: item.url
                };
                var isPush = true;
                this.tabsInfo.map(function (cur) {
                    if (cur.name == temp.name) {
                        isPush = false;
                        return;
                    }
                });
                if (isPush) this.tabsInfo.push(temp);
                this.activePage = temp.name;
            },
            removeTab: function (targetName) {
                var index = 0;
                this.tabsInfo.map(function (cur, i) {
                    if (cur.name == targetName) {
                        index = i;
                        return;
                    }
                });
                this.tabsInfo.splice(index, 1);
                if (this.activePage == targetName) {
                    if (index >= this.tabsInfo.length) index--;
                    if (index >= 0) this.activePage = this.tabsInfo[index].name;
                }
            }
        }
    }).$mount("#app");
</script>

</html>