body {
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}

/* element */

.el-container {
    height: 100%;
    width: 100%;
    position: absolute;
}

.el-main,
.el-header,
.el-footer {
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}

.el-scrollbar,
.el-main .el-tabs__content {
    height: 100%;
}

.el-tabs__item {
    height: 32px;
    line-height: 32px;
}

/* header */

.header {
    background-color: #494949;
    padding: 0px 10px;
    color: #fff;
}

.header h3 {
    margin: 0px;
    display: inline;
    font-size: 28px;
    line-height: 60px;
}

.header .operate {
    font-size: 14px;
    margin-top: 20px;
    float: right;
}

.header .operate a {
    color: #fff;
}