<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../script/element-ui/index.css">
    <link rel="stylesheet" href="../../style/common.css">
    <script src="../../script/vue.js"></script>
    <script src="../../script/element-ui/index.js"></script>
    <script src="../../script/axios.min.js"></script>
    <script src="../../script/config.js"></script>
    <script src="../../script/dataAccess.js"></script>
    <script src="../../script/common.js"></script>
</head>

<body>
    <div id="app">
        <template>
            <div style="margin-bottom:10px;">
                <div style="float:right;">
                    <el-button icon="el-icon-plus" @click="addUser">新增信息</el-button>
                    <el-button @click="operateRows">批量操作</el-button>
                </div>
                <el-input v-model="searchParam.name" placeholder="请输入内容" style="width:200px;"></el-input>
                <el-button type="primary" @click="searchData">搜索</el-button>
                <el-button @click="resetData">重置</el-button>
            </div>
            <el-table :data="dataList" @selection-change="handleSelectionChange" v-loading="paging.loading" border stripe :header-cell-style="{ background:'#ecf1f5',color:'#495766' }">
                <el-table-column type="selection" width="40">
                </el-table-column>
                <el-table-column label="序号" width="80">
                    <template slot-scope="scope">
                        <div v-text="(searchParam.page-1)*searchParam.rows+scope.$index+1"></div>
                    </template>
                </el-table-column>
                <el-table-column prop="name" label="姓名"></el-table-column>
                <el-table-column prop="mobile" label="手机"></el-table-column>
                <el-table-column prop="createTime" label="创建时间"></el-table-column>
                <el-table-column label="操作" width="150">
                    <template slot-scope="scope">
                        <el-button size="mini" @click="editUser(scope.row)">编辑</el-button>
                        <el-button size="mini" @click="delUser(scope.row)">删除</el-button>
                    </template>
                </el-table-column>
            </el-table>
            <div style="text-align: center; margin-top: 10px;" v-if="paging.total>0">
                <el-pagination layout="total,prev,pager,next,jumper" @current-change="pagingClick" :current-page="searchParam.page" :page-size="searchParam.rows"
                    :total="paging.total">
                </el-pagination>
            </div>
        </template>
    </div>

    <script src="../../script/my_plugin/user.js"></script>
    <script>
        new Vue({
            data: function () {
                return {
                    //查询的参数
                    searchParam: {
                        name: "",
                        page: 1,
                        rows: 10,
                    },
                    //分页信息
                    paging: {
                        loading: false,
                        total: 0
                    },
                    dataList: [],
                    selectionRows: [],
                };
            },
            created: function () {
                // copy 查询参数对象
                this.searchParam_copy = JSON.parse(JSON.stringify(this.searchParam));
                this.getData();
            },
            methods: {
                resetData: function () {
                    this.searchParam = JSON.parse(JSON.stringify(this.searchParam_copy));
                    this.getData();
                },
                searchData: function () {
                    this.getData();
                },
                pagingClick: function (val) {
                    this.searchParam.page = val;
                    this.getData();
                },
                getData: function () {
                    var _this = this;
                    if (!this.paging.loading) {
                        this.paging.loading = true;
                        setTimeout(function () { //可以去掉
                            DataAccess.GetTableData(
                                _this.searchParam
                            ).then(function (res) {
                                var data = res.data;
                                if (data.status.code == 1) {
                                    _this.dataList = data.data.List;
                                    _this.paging.total = data.data.total;
                                } else {
                                    _this.$alert("error");
                                }
                                _this.paging.loading = false;
                            }).catch(function () {
                                _this.paging.loading = false;
                            });
                        }, 500);
                    }
                },
                handleSelectionChange: function (val) {
                    this.selectionRows = val;
                },
                operateRows: function () {
                    if (this.selectionRows.length == 0) {
                        this.$alert("没有选中项");
                    } else {
                        this.$alert("console中查看");
                        console.log(this.selectionRows);
                    }

                },
                addUser: function () {
                    this.$user.add({
                        callback: function (res) {
                            console.log(res);
                        }
                    });
                },
                editUser: function (item) {
                    this.$user.edit({
                        item: item,
                        callback: function (res) {
                            console.log(res);
                        }
                    });
                },
                delUser: function (item) {
                    var _this = this;
                    this.$confirm('确认是否删除信息?', '提示', {
                        confirmButtonText: '确定',
                        cancelButtonText: '取消'
                    }).then(function () {
                        _this.$message.success('删除成功!');
                    }).catch(function () {
                        _this.$message.info('删除成功!');
                    });
                }
            }
        }).$mount("#app");
    </script>

</body>

</html>